{
  "extends": "airbnb-base",
  "globals": {
    "__DEV__": false,
    "__DEMO__": false
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-plusplus": 0,
    "comma-dangle": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "func-names": 0,
    "no-multi-assign": 0,
    "prefer-destructuring": 0
  }
}
