dist
.reify-cache
.rpt2_cache
.rts2_cache*
.vscode/settings.json

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
/node_modules/
yarn-error.log
npm-debug.log