name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master

# Add permissions
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build: # Renamed from build-and-deploy for clarity
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc" # Read version from .nvmrc

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Prepare artifact for GitHub Pages
        run: |
          mkdir ./gh-pages-artifact
          cp ./index.html ./gh-pages-artifact/
          cp -r ./dist ./gh-pages-artifact/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          # Upload the specific directory
          path: "./gh-pages-artifact"

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
